<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <button @click="set('plus')">+</button>&nbsp;<button @click="set('minus')">-</button>&nbsp;<button
            @click="set('power')">*</button>&nbsp;<button @click="set('split')">\</button><br><br><br><br>
        <input type="text" v-model="on1">{{operator}} <input type="text" v-model="on2">=
        <template v-if="fu =='plus'">
            {{plus}}

        </template>
        <template v-if="fu =='minus'">
            {{minus}}

        </template>
        <template v-if="fu =='power'">
            {{power}}

        </template>
        <template v-if="fu =='split'">
            {{split}}

        </template>
        <template v-if="fu ==''">
            {{plus}}


        </template>
       

    </div>










    <script>
        var app = new Vue({
            //element
            el: "#app",
            data: {
                on1: '0',
                on2: '0',
                result: 0,
                operator: 'wait',
                fu: ''

            },
            methods: {
                set: function (str) {

                    this.fu = str
                }
            },

            computed: {

                plus: function () {

                    var one = parseInt(this.on1);
                    var two = parseInt(this.on2);
                    this.operator = "+"
                    return one + two
                },
                minus: function () {
                    var one = parseInt(this.on1);
                    var two = parseInt(this.on2);
                    this.operator = "-"
                    return one - two
                },
                power: function () {
                    var one = parseInt(this.on1);
                    var two = parseInt(this.on2);
                    this.operator = "*"
                    return one * two
                },
                split: function () {
                    var one = parseInt(this.on1);
                    var two = parseInt(this.on2);
                    this.operator = "/"
                    return one / two
                },


            }

        });
    </script>

</body>

</html>